
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.black-div {
    width: 100px;
    height: 700px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    display: flex;
}

.black-div:hover {
    background-color: rgb(0, 0, 0);
}
